/*
 Este software foi criado pelo o programador abaixo!!!!

     *Nome→ Fillipe Pascoall
     *Nacionalidade→ Angolana
     *E-mail→ pascoalfilipe5@gmail.com
     *Morada→ Viana/ Luanda/ Angola
     *Telefone→ +244 941556751
     *Telegram→ @Fillipe5 / t.me/Fillipe5
     *Facebook → Fillipe Pascoall
     *Whatsapp→ +244 941556751 
     *Instagram → @fillipe_pascoall
     *CodePen → fillipe_pascoall
     *GitHub → fillipe-pascoall

*/

:root {
		--cor: #2D8CBC; 
}
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
body {
   font-family: sans-serif;
}
.myCopy {
	text-align: center;
   font-size: .8rem;
	color:rgba(0,0,0,0.5);
}
.myCopy span {
	margin-left: 10px;
}
         /* main */
main {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 4rem;
}
.container {
   width: 100%;
   height: auto;
}
main .play {
   width: 280px;
   height: auto;
   background-color: #fff;
   padding: .5rem;
   display: flex;
   flex-direction: column;
   border: 1px solid;
}
main #audio {
   display: none;
}
main .play .play-m {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
}
main .play-m img {
   width: 80%;
   height: 180px;
   border-radius: 5px;
}
main .play-m p {
   margin-top: 2rem;
}
main .play-m .controls {
   display: flex;
   justify-content: space-between;
   padding-top: .4rem;
}
main .play-m .btn {
   margin: .5rem;
   background-color: transparent;
   border: none;
   outline: none;
}
main .play-m svg {
   width: 40px;
   height: 40px;
}
main .play .play-f {
   padding: .5rem;
}


/*          ****Aqui terminou****        */
