/*
 Este software foi criado pelo o programador abaixo!!!!

     *Nome→ Fillipe Pascoall
     *Nacionalidade→ Angolana
     *E-mail→ pascoalfilipe5@gmail.com
     *Morada→ Viana/ Luanda/ Angola
     *Telefone→ +244 941556751
     *Telegram→ @Fillipe5 / t.me/Fillipe5
     *Facebook → Fillipe Pascoall
     *Whatsapp→ +244 941556751 
     *Instagram → @fillipe_pascoall
     *CodePen → fillipe_pascoall
     *GitHub → fillipe-pascoall

*/

:root {
		--cor: #2D8CBC; 
}
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
body {
   font-family: sans-serif;
}
.myCopy {
	text-align: center;
   font-size: .8rem;
	color: rgba(0,0,0,0.5);
}
.myCopy span {
	margin-left: 10px;
}
         /* main */
main {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 4rem;
}
.container {
   width: 100%;
   height: auto;
}
main .calendar {
   width: 280px;
   height: auto;
   background-color: #fff;
   padding: .5rem;
   display: flex;
   flex-direction: column;
}
main .calendar .calendar-h {
   padding: 1rem;
   background-color: var(--cor);
   color: #fff;
}
main .calendar-h .week {
   font-size: 1.8rem;
   margin-bottom: .5rem;
}
main .calendar-h .month-and-year {
   color: rgba(255,255,255,0.8);
}
main .calendar .calendar-m {
   display: flex;
   flex-wrap: wrap;
   padding: .5rem 1rem;
   background-color: #f1f1f1;
}
main .calendar-m .col {
   width: 11.5%;
   margin: .2rem;
   text-align: center;
   padding: .2rem;
}
main .calendar-m .d-actual {
   background-color: var(--cor);
   color: #fff;
   border-radius: 50%;
}
main .calendar .calendar-f {
   padding: 1rem;
   background-color: #f1f1f1;
}



/*          ****Aqui terminou****        */
