/*
 Este software foi criado pelo o programador abaixo!!!!

     *Nome→ Fillipe Pascoall
     *Nacionalidade→ Angolana
     *E-mail→ pascoalfilipe5@gmail.com
     *Morada→ Viana/ Luanda/ Angola
     *Telefone→ +244 941556751
     *Telegram→ @Fillipe5 / t.me/Fillipe5
     *Facebook → Fillipe Pascoall
     *Whatsapp→ +244 941556751 
     *Instagram → @fillipe_pascoall
     *CodePen → fillipe_pascoall
     *GitHub → fillipe-pascoall

*/

:root {
		--cor: #2D8CBC; 
}
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
body {
   font-family: sans-serif;
}
.myCopy {
	text-align: center;
   font-size: .8rem;
	color:rgba(0,0,0,0.5);
}
.myCopy span {
	margin-left: 10px;
}
         /* main */
main {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 4rem;
}
.container {
   width: 100%;
   height: auto;
}
main .upload {
   width: 280px;
   height: auto;
   display: flex;
   flex-direction: column;
   background-color: transparent;
   border: 1px dotted #000;
}
main .upload .upload-m {
   width: 100%;
   height: 18rem;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   position: relative;
}
@media screen and (min-width: 780px) {
  main .upload {
    height: 600px;
    padding-top: 6rem;
  }
  main .upload .btn {
    bottom: 32rem;
  }
}
main .upload-m #file {
   display: none;
}
main .upload-m .mask {
   color: #aaa;
   text-align: center;
   margin-top: 2rem;
}
main .upload-m .mask svg {
   width: 70px;
   height: 70px;
}
main .upload-m .btn {
   background-color: var(--cor);
   color: #fff;
   padding: .6rem 1rem;
   font-size: 1.2rem;
   border: 1px solid var(--cor);
   border-radius: 5px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 5px;
}
main .upload-m .image {
  min-height: 17.8rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
main .upload .upload-f {
   padding: 1rem;
}


/*          ****Aqui terminou****        */
